.top-bar {
    background-color: #277627;
    height:8vh;
}
.logo {
    margin:0;
    padding:0;
}
.logo img {
    width:100%;
}

.cart-icon {
    color:#fff;
    font-size: 24px;
    float:right;
}
#lblCartCount {
    font-size: 14px;
    background: #ff0000;
    color: #fff;
    padding: 1px 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

.header-center{
    text-align: center;
    vertical-align: middle;
    padding-top: .8rem;
    font-size: 18px;
}
.header-center a {
    color: white;
    text-decoration: none;
}

.header-logo {
    width:2rem;
    padding-right:.5rem;
}
