<div id="footer">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav custom-nav">
            <li class="active">
                <a routerLink="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            <li class="active">
                <a routerLink="/about-us">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
            </li>
            <li class="active">
                <a routerLink="/contact-us"><i class="fa fa-phone" aria-hidden="true"></i></a>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
            </li>
        </ul>
    </nav>
</div>
