#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    background:#fff;
}

.custom-nav {
    flex-direction: row;
}

.custom-nav li {
    width: 3.8rem;
    text-align: center;
}

.custom-nav li a {
    color: #474747;
    font-size:16px;
}

.custom-nav li a i{
    font-size:24px;
}