<div class="dropdown  menu-header">
    <a class="btn btn-secondary dropdown-toggle" (click)="showMenu()" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Purefarms Menu
    </a>
    <div class="dropdown-menu menu-list" [ngClass]="{'show-menu-list': isShow}" aria-labelledby="dropdownMenuButton">
      <a *ngFor="let category of categories" class="dropdown-item" routerLink="/products/{{category.categoryId}}" routerLinkActive="active">{{category.name}}</a>
    </div>
  </div>