<div class="contact-us-container">
    <div class="row">
        <div class="col-12 xs-col-12 sm-col-12 col-md-12">
            <img src="/assets/images/pure-farms-logo-big.jpg" class="w-100"/>
        </div>
    </div>
    <div class="row contact-us-section">
        <div class="col-12 xs-col-12 sm-col-12 col-md-12">
            <h5><span>Contact Us</span></h5>
            <div class="mobile-div">
                <span><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                <span class="mobile-span">7980292294 | 9830969882 | 9311007374</span>
            </div>
            <div class="email-div">
                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <span class="email-span">purefarmskolkata@gmail.com</span>
            </div>
        </div>
    </div>        
</div>