<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-3 logo">
        <!-- <a routerLink="/"><img src="/assets/images/pure-farms-logo-big.jpg" alt="purefarms-logo"></a> -->
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-9">
       
    </div>
</div>
<div class="row mt-4 product-item-container">
    <div *ngFor="let product of products" class="col-12 col-xs-12 col-sm-12 col-md-8 d-flex flex-row product-item">
        <div class="card item-container">  
            <div class="card-body">                  
                <a routerLink="/"><img src="/assets/images/{{product.imagePath}}" class="item-image"></a>  
                <!-- <div><span>Special Offer</span></div>                      -->
            </div>
        </div>
        <div class="item-details-container">  
            <h5 class="m-0 mb-2">{{product.name}}</h5>                     
            <select class="qty">
                <option value="" *ngFor="let qty of product.availableQty">{{qty}}</option>
            </select>
            <p class="m-0 mb-1"><span class="price">{{product.currency}} {{product.price[0]}}</span></p>
            <div class="cart-button-set text-right">
                <button type="button" class="btn btn-danger">Add</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2"></div>
</div>   
    
    
    
