<div class="about-us-container">
    <div class="row">
        <div class="col-12 xs-col-12 sm-col-12 col-md-12">
            <img src="/assets/images/pure-farms-logo-big.jpg" class="w-100"/>
        </div>
    </div>
    <div class="row about-us-section">
        <div class="col-12 xs-col-12 sm-col-12 col-md-12">
            <h5><span>ABOUT PUREFARMS</span></h5>
            <div class="row">        
                <div class="col-6 xs-col-6 sm-col-6 col-md-6 about-us-left">
                    <p>Purefarms is a online Vegetable and dairy products shop.</p>
                    <p>We have almost 100 products in our catalogue.</p>
                </div>
                <div class="col-6 xs-col-6 sm-col-6 col-md-6">
                    <img src="/assets/images/veg_basket1.jpg">
                </div>
            </div>
            <div class="row about-us-last">        
                <div class="col-6 xs-col-6 sm-col-6 col-md-6 about-us-left">
                    <img src="/assets/images/rice_basket1.jpg">
                </div>
                <div class="col-6 xs-col-6 sm-col-6 col-md-6 pr-3">
                    <p>Now we are selling fresh vegetables, exotic vegetables, fruits, dairy products and rice</p>
                </div>
            </div>
            <div class="row">        
                <div class="col-6 xs-col-6 sm-col-6 col-md-6 about-us-left">
                    <h6><span>How to Shop?</span></h6>
                    <p>Select items from list, Add to Cart and Place Order. You will get a notification regarding payment date and time.</p>
                </div>
                <div class="col-6 xs-col-6 sm-col-6 col-md-6 pr-3">
                    <h6><span>How to Pay?</span></h6>
                    <p>Now we are accepting Cash on Delivery and G-pay(+91 8902211922)</p>
                </div>
            </div>
            <div class="row">        
                <div class="col-12 about-us-left">
                    <h6><span>Delivery Location</span></h6>
                    <p>We deliver throughout South Kolkata</p>
                </div>
            </div>
            <div class="row">        
                <div class="col-12 about-us-left">
                    <h6><span>Delivery Time</span></h6>
                    <p>We deliver from 10AM to 5PM</p>
                </div>
            </div>
        </div>
    </div>
</div>
