<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12">
        <div class="card weekly-combo-section">  
            <div class="card-body p-0 text-center">            
                <a routerLink="/weekly-combo" class="d-flex week-range">
                    <img src="/assets/images/dashboard-banner2.jpg" class="w-100" style="height:84vh">                        
                </a>  
            </div>
        </div>
        <div class="cart-button-set text-right">
            <button type="button" class="btn btn-danger">Add to List</button>
            <button type="button" class="btn btn-danger">Add to Cart</button>
        </div>
    </div>
</div>