.weekly-combo-section {
    height:70vh;
    overflow-y: scroll;
}
.cart-button-set {
    text-align: right;
    padding-top: 0.8rem;
}
.cart-button-set button {
    width: 30%;
    padding: 5px;
    font-size: 14px;
    margin-right: .5rem;
}