<div class="row p-3 pt-0">
     <div class="col-12 col-xs-12 col-sm-12 col-md-12 dashboard-section">
        <h6><span class="mr-4">WEEKLY OFFERS</span>&nbsp;&nbsp;<i class="fa fa-hand-o-down" aria-hidden="true"></i></h6>
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12">
                <div class="card dashboard-items1">  
                    <div class="card-body dashboard-items1-body p-0 text-center">            
                        <a routerLink="/weekly-combo" class="d-flex week-range">
                            <img src="/assets/images/dashboard-weekly-price.jpg" class="veg-busket-price-img">
                            <div class="d-flex flex-column pt-4"><span>For the week</span><span>17th-23rd May'21</span></div>
                            <img src="/assets/images/veg_busket.jpg" class="veg-busket-img">                           
                        </a>  
                    </div>
                </div>
            </div>
        </div>
        
        <h6><span class="mr-4">SPECIAL OFFERS ON MALA'S PRODUCTS</span>&nbsp;&nbsp;<i class="fa fa-hand-o-down" aria-hidden="true"></i></h6>
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12">               
                <div id="malaProductCarousel" class="carousel slide" data-ride="carousel">
                    <a routerLink="/malas-product">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img class="d-block w-100" src="/assets/images/mala_homepage_banner1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                        <img class="d-block w-100" src="/assets/images/mala_homepage_banner2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                        <img class="d-block w-100" src="/assets/images/mala_homepage_banner3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                        <img class="d-block w-100" src="/assets/images/mala_homepage_banner4.jpg" alt="Third slide">
                        </div>
                    </div>
                    </a>
                    <a class="carousel-control-prev" href="#malaProductCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#malaProductCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>           
            </div>
        </div>

        <h6><span class="mr-4">PUREFARM'S SPECIALS</span>&nbsp;&nbsp;<i class="fa fa-hand-o-down" aria-hidden="true"></i></h6>
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12">
                <div class="card dashboard-items1">  
                    <div class="card-body dashboard-items1-body p-0">            
                        <a href="javascript:void(0)">
                            <img src="/assets/images/dashboard-items1.jpg" class="dashboard-items1-img">
                            <!-- <img src="/assets/images/seasonal_vegetables.jpg" class="dashboard-items1-img"> -->
                        </a>  
                    </div>
                </div>
            </div>
        </div>
        
        <h6><span class="mr-4">SHOP BY CATEGORY</span>&nbsp;&nbsp;<i class="fa fa-hand-o-down" aria-hidden="true"></i></h6>
        <div class="row category-section">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12">
                <div class="d-flex m-2">
                    <div class="card category-container">  
                        <div class="card-body category-card-body p-0">            
                            <a routerLink="/products/daily_vegetables">
                                <img src="/assets/images/daily_vegetables.jpg" class="item-image"></a>  
                            <p class="text-center">Daily Vegetables</p>
                        </div>
                    </div>
                    <div class="card category-container">  
                        <div class="card-body category-card-body p-0">            
                            <a routerLink="/products/exotic_vegetables">
                                <img src="/assets/images/exotic_vegetables.jpg" class="item-image"></a>  
                            <p class="text-center">Exotic Vegetables</p>                     
                        </div>
                    </div>
                    <div class="card category-container">  
                        <div class="card-body category-card-body p-0">            
                            <a routerLink="/products/fruits">
                                <img src="/assets/images/fruits.jpg" class="item-image"></a>  
                            <p class="text-center">Fruits</p>                      
                        </div>
                    </div>
                </div> 
                
                <div class="d-flex m-2">
                    <div class="card category-container">  
                        <div class="card-body category-card-body p-0">            
                            <a routerLink="/products/dairy_products">
                                <img src="/assets/images/dairy_products.jpg" class="item-image"></a>  
                            <p class="text-center">Dairy Products</p>
                        </div>
                    </div>
                    <div class="card category-container">  
                        <div class="card-body category-card-body p-0">            
                            <a routerLink="/products/rice">
                                <img src="/assets/images/brown_rice.jpg" class="item-image"></a>  
                            <p class="text-center">Rice</p>                     
                        </div>
                    </div>
                    <div class="card category-container">  
                        <div class="card-body category-card-body p-0">            
                            <a routerLink="/products/spices">
                                <img src="/assets/images/spices.jpg" class="item-image"></a>  
                            <p class="text-center">Spices</p>
                        </div>
                    </div>
                </div> 

                <!-- <div class="d-flex m-2">
                    <div class="card category-container">  
                        <div class="card-body category-card-body p-0">            
                            <a routerLink="/products/pulses">
                                <img src="/assets/images/pulses.jpg" class="item-image"></a>  
                            <p class="text-center">Pulses</p>                      
                        </div>
                    </div>
                    <div class="card category-container">  
                        <div class="card-body category-card-body p-0">            
                            <a routerLink="/products/edible_oils">
                                <img src="/assets/images/oils.jpg" class="item-image"></a>  
                            <p class="text-center">Edible Oils</p>                     
                        </div>
                    </div>
                    <div class="card category-container">  
                        <div class="card-body category-card-body p-0">            
                            <a routerLink="/products/dry_fruits">
                                <img src="/assets/images/dry_fruits.jpg" class="item-image"></a>  
                            <p class="text-center">Dry Fruits</p>                      
                        </div>
                    </div>
                </div>  -->
            </div>
        </div>
    </div>
</div>